.about {
  background-color: var(--color-catskill);
  &__container {
    padding-top: 157px;
    padding-bottom: 136px;
    @media (max-width:1200px) {
      padding-top: 100px;
    }
    @media (max-width:800px) {
      padding-top: 90px;
      padding-bottom: 80px;
    }
    // @media (max-width:600px) {
    //   padding-top: 60px;
    // }
  }
  &__title {
    margin-bottom: 99px;
    @media (max-width:1200px) {
      margin-bottom: 90px;
    }
    @media (max-width:800px) {
      margin-bottom: 70px;
    }
    @media (max-width:600px) {
      margin-bottom: 40px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 128px;
    @media (max-width: 600px) {
      row-gap: 30px;
    }
  }
  &__info {
    // padding-left: 109px;
    padding-top: 49px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    @media (max-width: 1200px) {
      order: -1;
      padding-top: 0px;
    }
    @media (max-width: 600px) {
      row-gap: 20px;
    }
  }
  &__text {
  max-width: 432px;
  line-height: 140%; /* 25.2px */
  @media (max-width: 1200px) {
    text-align: center;
    font-size: 24px;
    max-width: none;
  }
  @media (max-width: 1200px) {
    font-size: 20px;
  }
  @media (max-width: 600px) {
    font-size: 14px;
    text-align: start;
    max-width: 276px;
  }
  }
  &__adress {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    @media (max-width:1200px) {
      flex-direction: column;
      align-items: center;
    }
    @media (max-width:600px) {
      align-items: flex-start;
      row-gap: 55px;
    }
  }
  &__pin {
    display: flex;
    align-items: center;
    gap: 14px;
    width: fit-content;
    &:hover .about__map {
      opacity: 1;
    }
    @media (max-width:1200px) {
      margin: 0 auto;
    }
    @media (max-width:600px) {
      margin: initial;
      font-size: 14px;
    }
  }
  &__map {
    width: fit-content;
    color: var(--color-text);
    position: relative;
    opacity: 0.8;
    line-height: 140%; /* 25.2px */
    // &:hover {
    //   opacity: 1;
    // }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 1px;
      height: 1px;
      width: 100%;
      background-color: black;
    }


  }
  &__img {
    width: 655px;
    // overflow: hidden;
    // &:hover img {
    //   transform: scale(1.05);
    // }
    @media (max-width:1200px) {
        width: 100%;
    }
    img {
      // transition: transform 0.25s;
      @media (max-width:1200px) {
        width: 100%;
    }
    }

  }
  &__list {
    display: flex;
    align-items: flex-start;
    column-gap: 90px;
    row-gap: 45px;
    // justify-content: space-between;
    @media (max-width:1200px) {
      column-gap: 50px;
      justify-content: center;
    }
    @media (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: flex-end;
      column-gap: 0px;
    }
    @media (max-width:600px) {
      justify-content: space-between;
    }
  }
  &__item{
    width: 200px;
    display: flex;
    flex-direction: column;
    @media (max-width:1100px) {
      width: 180px !important;
    }
    @media (max-width: 900px) {
      flex: 0 0 42%;
    }
    span {
      transform: translateX(55px);
      display: inline-block;
      font-size: 26px;
      max-width: 179px;
      line-height: normal;
      @media (max-width: 1100px) {
        font-size: 20px;
      }
      @media(max-width:600px) {
        transform: translateX(38px);
        font-size: 14px;
        max-width: 140px;
      }
    }
  }
  &__value {
    margin-bottom: 11px;
    display: flex;
    align-items: flex-end;
    color: var(--color-tundora);
    font-size: 28px;
    @media (max-width:600px) {
      font-size: 18px;
    }
    &-descr {
      position: relative;

      &::before {
        position: absolute;
        bottom: 0;
        left: -40px;
        content: "от";
      }
    }
    div {
      width: 55px;
      color: var(--color-tundora);
      font-size: 72px;
      font-weight: 700;
      line-height: 0.8;
      @media (max-width: 1100px) {
        font-size: 50px;
      }
      @media (max-width: 600px) {
        font-size: 46px;
        width: 38px;
      }
    }
  }
}
.rent {
  margin-top: -17px;
  display: flex;
  flex-direction: row;
  gap: 118px;
  @media (max-width:1200px) {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  @media (max-width:600px) {
    margin-top: 10px;
  }
  &__info {
    padding-top: 50px;
    padding-left: 109px;
    @media (max-width:1200px) {
      padding-left: 0px;
      padding-top: 0px;
    }
  }
  &__text {
    max-width: 429px;
    @media (max-width:1200px) {
      max-width: none;
    }
  }
  &__image {
    // overflow: hidden;
    max-width: 655px;
    // height: 452px;
    // &:hover img {
    //   transform: scale(1.05);
    // }
    // img {
    //   transition: transform 0.25s;
    // }
    @media (max-width:1200px) {
      width: 100%;
    }
  }
  &__img {

    @media (max-width:1200px) {
      height: auto;
      max-width: none;
      width: 100%;
    }
  }
  &__btn {
    @media (max-width:1200px) {
      margin: 0 auto;
    }
    @media (max-width:600px) {
      margin: initial;
    }
  }
}