.modal {
  overflow-x: hidden;
  &__container {
    padding-top: 80px;
    height: 100%;
    @media (max-width:470px) {
      padding-top: 80px;
    }
    &._active {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  &._active {
    display: block;
  }
  &__body {
    color: var(--color-light);
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color-text);
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;

    &._active {
      opacity: 1;
      visibility: visible;

    }
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__office {
    &._none {
      display: none;
    }
    padding-bottom: 200px;
    @media (max-width:1100px) {
      padding-bottom: 100px;
    }
    @media (max-width:600px) {
      padding-bottom: 60px;
    }
  }
  &__close {
    position: fixed;
    cursor: pointer;
    top: 40px;
    right: 40px;
    background-color: var(--color-light);
    width: 58px;
    height: 50px;
    border-radius: 100%;
    @media (max-width:600px){
      top: 20px;
      right: 20px;
    }
    span,
    &::after{
      border-radius: 3px;
      left: 13px;
      position: absolute;
      height: 2px;
      width: 33px;
      transition: all .3s ease 0s;
      background-color: black;
      transform: translateX(0);
      transition: all .3s ease 0s;
    }
  
    &::after {
      content: "";
    }
  
    span{
    top: 25px;
    transform: rotate(-45deg) translate(0px, -50%);
    }
  
    &::after {
      top: 23px;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }
  &__title {
    display: inline-block;
    color: var(--color-light);
    font-family: Formular;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 60px;
    @media (max-width:600px) {
      font-size: 50px;
      margin-bottom: 40px;
    }
    @media (max-width:470px) {
      font-size: 30px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 80px;
    @media (max-width:1200px) {
      gap: 50px;
    }
    @media (max-width:1050px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &._none {
      display: none;
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  &__about {
    display: flex;
    flex-direction: column;
  }
  &__price {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-light);
    font-size: 28px;
    line-height: normal;
    span {
      font-size: 72px;
      font-weight: 700;
      @media (max-width: 1200px) {
        font-size: 50px;
      }
      @media (max-width:470px) {
        font-size: 30px;
      }
    }
  }
  &__square {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-light);
    font-size: 28px;
    line-height: normal;
    span {
      font-size: 36px;
      font-weight: 700;
      @media (max-width: 1200px) {
          font-size: 30px;
      }
      @media (max-width:470px) {
        font-size: 24px;
      }
    }
  }
  &__floor {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-light);
    font-size: 28px;
    line-height: normal;
    @media (max-width:470px) {
      font-size: 18px;
    }
    span {
      font-size: 36px;
      font-weight: 700;
      @media (max-width: 1200px) {
          font-size: 30px;
      }
      @media (max-width:470px) {
        font-size: 24px;
      }
    }
  }
  &__text {
    color: var(--white, #FFF);
    font-family: Formular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.7;
    &-box {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      @media (max-width:600px) {
        flex-direction: column;
      }
    }
    &-descr {
      color: var(--white, #FFF);
      font-family: Formular;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      opacity: 0.9;
      max-width: 260px;
      @media (max-width:470px) {
        font-size: 14px;
      }
      /* 25.2px */
    }

  }
  &__plan {
    &._none {
      display: none;
    }
    &-item {
      color: var(--color-light);
      font-size: 24px;
      font-weight: 400;
      line-height: normal;
      opacity: 0.7;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease-out 0s;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10%;
        height: 1px;
        width: 0%;
        background-color: var(--color-light);
        transition: all 0.3s ease-out 0s;
      }
      &._active::after {
        width: 100%;
      }
      &._active {
        opacity: 1;
      }
    }
    &-content {
      display: none;
      &._active {
        display: block;
        polygon{
          fill: transparent;
          &._active {
            fill: rgba(142, 142, 142, 0.5);
          }
        }
      }
    }
  }
  &__img {
    @media (max-width:1280px) {
      width: 650px;
    }
    @media (max-width:700px) {
      width: auto;
    }
    // @media (max-width:1050px) {
    //   width: auto;
    // }
    img {
      max-width: 100%;

      @media (max-width:650px) {
        height: auto;
      }
      @media (max-width:1050px) {
        height: 400px;
      }
    }
  }
}
a.free.currentflat polygon {
  fill: red;
}
.lease {
  padding-top: 100px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  @media (max-width:1050px) {
    flex-direction: column;
    gap: 40px;
  }
  @media (max-width:640px) {
    flex-direction: column;
    gap: 20px;
  }
  &._none {
    display: none;
  }
  &__title {
    width: fit-content;
    color: var(--color-light);
    font-size: 48px;
    line-height: normal;
    @media (max-width:1200px) {
      font-size: 35px;
    }
    @media (max-width: 640px) {
      font-size: 20px;
    }
  }
  &__form {
    width: 665px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    @media (max-width:1400px) {
      width: 560px;
    }
    @media (max-width:1050px) {
      width: 90%;
    }
    @media (max-width:640px) {
      row-gap: 30px;
      width: 100%;
    }
    // @media (max-width:1400px) {
    //   width: 100%;
    // }
  }
  &__name {
    font-family: Formular;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid var(--color-light);
    width: 100%;
    @media (max-width:640px) {
      font-size: 16px;
    }
  }
  &__tel {
    font-family: Formular;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid var(--color-light);
    width: 100%;
    @media (max-width:640px) {
        font-size: 16px;
      }
  }
  &__btn {
    display: flex;
    gap: 30px;
    align-items: center;
    @media (max-width:640px) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 24px;
    }
  }
}
.lease__btn .feedback__info {
  color: var(--color-light);
}
.lease__btn .solid{
  color: var(--color-light);
}
.lease__btn .solid::after {
  background-color: var(--color-light);
}


.attrimg {
  object-fit: cover;
}