:root  {
  --color-black:#000;
  --color-text:#212121;
  --color-tundora:#434343;
  --color-alto: #D9D9D9;
  --color-catskill: #F3F5F9;
  --color-light: #FFFFFF;
  --color-mint: rgba(192, 255, 199, 0.6);
  --color-gray: rgba(142, 142, 142, 0.5);
  --color-black-light: rgba(0, 0, 0, 0.4);
  --color-black-lighteen: rgba(0, 0, 0, 0.2);
  // --grid-gap: 30px;
}