<section class="about section" id="about" data-section="about">
  <div class="about__container">
    <h2 class="about__title title">Быть ближе к&nbsp;клиентам</h2>
    <div class="about__content">
      <div class="about__adress">
        <div class="about__img">
          <img src="/public/img/about/about-1.jpg" alt="">
        </div>
        <div class="about__info">
          <p class="about__text">Деловой Центр &laquo;Город&raquo;&nbsp;&mdash; ваш ключ к&nbsp;бизнесу 
в&nbsp;развивающемся районе. Современные офисные пространства, удобное расположение и&nbsp;инфраструктура для успешного предпринимательства.</p>
          <a class="about__pin" href="https://clck.ru/36Bfik">
            <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <ellipse cx="7" cy="6.75" rx="7" ry="6.75" fill="black"/>
              <path d="M7 7.5V21" stroke="black"/>
            </svg>
            <div class="about__map">Павловский тракт, 313Б</div>
          </a>
        </div>
      </div>
      <div class="about__advantages">
        <ul class="about__list">
          <li class="about__item">
            <h3 class="about__value"><div>2</div> лифта</h3>
            <span>до 1000кг</span>
          </li>
          <li class="about__item">
            <h3 class="about__value"><div>4</div> квартала</h3>
            <span>в&nbsp;шаговой доступности</span>
          </li>
          <li class="about__item">
            <h3 class="about__value"><div>58</div></h3>
            <span>офисных помещения</span>
          </li>
          <li class="about__item">
            <h3 class="about__value"><div>80</div></h3>
            <span>мест <br> на паркинге</span>
          </li>
          </ul>
      </div>
      <div class="about__rent rent">
        <div class="about__info rent__info ">
          <p class="about__text rent__text">Аренда офисов в&nbsp;нашем деловом центре&nbsp;&mdash; это отличная возможность для вашего бизнеса. 
Мы&nbsp;предлагаем современные офисные пространства, готовые удовлетворить потребности вашей компании.
          </p>
          <a href="#room" class="rent__btn btn--stroke btn--stroke-black">Выбрать помещение</a>
        </div>
        <picture class="rent__image">
          <source srcset="/public/img/about/about-2-mini.jpg" media="(max-width: 670px)" />
          <img class="rent__img" src="/public/img/about/about-2.jpg" alt="">
        </picture>
        
      </div>
    </div>
  </div>
</section>