<section class="advantages section" id="advantages" data-section="advantages">
  <div class="advantages__container">
    <h2 class="advantages__title title">Уникальное место <br> <div>для бизнеса</div></h2>
    <div class="advantages__tabs tabs">
      <ul class="tabs__list">
        <li class="tabs__item"><span>Современные</span> <br> <span>технологии</span></li>
        <li class="tabs__item"><span>Транспортная</span> <br> <span>доступность</span></li>
        <li class="tabs__item"><span>Панорамные</span> <br> <span>окна</span></li>
        <li class="tabs__item"><span>Шумоизоляция</span></li>
      </ul>
      <div class="tabs__box">
        <div class="t1 tabs__content">
          <img src="/public/img/advantages/advantages-1.png" alt="">
          <p class="tabs__content-text">Класс энергоэффективности&nbsp;А, позволяет нам экономить ресурсы на&nbsp;отоплении и&nbsp;энергообеспечении</p>
        </div>
        <div class="t2 tabs__content ">
          <img src="/public/img/advantages/advantages-2.png" alt="">
           <p class="tabs__content-text">Благодаря удобному расположению в&nbsp;развивающемся районе, с&nbsp;легкостью можно доехать как из&nbsp;центра города, так и&nbsp;из&nbsp;пригородных районов.</p>
        </div>
        <div class="t3 tabs__content ">
          <img src="/public/img/advantages/12.png" alt="">
           <p class="tabs__content-text">Панорамные окна позволяют максимально использовать естественное освещение, что делает интерьеры более яркими и&nbsp;комфортными</p>
        </div>
        <div class="t4 tabs__content ">
          <img src="/public/img/advantages/34.png" alt="">
           <p class="tabs__content-text">Качественная шумоизоляция спроектирована на&nbsp;основе звукопоглощающих панелей, шумопоглощающих покрытий для пола и&nbsp;стен, а&nbsp;также специальных стекл</p>
        </div>
      </div>
    </div>
    <div class="advantages__swiper swiper--advantages swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper--advantages__slide">
          <h3 class="swiper--advantages__title">Современные технологии</h3>
            <picture class="swiper--advantages__image">
              <source srcset="/public/img/advantages/advantages-1-mini.png" media="(max-width: 500px)" />
              <img class="swiper--advantages__img" src="/public/img/advantages/advantages-1.png" alt="">
              <p class="swiper--advantages__text">Класс энергоэффективности&nbsp;А, позволяет нам экономить ресурсы на&nbsp;отоплении и&nbsp;энергообеспечении</p>
            </picture>
        </div>
        <div class="swiper-slide swiper--advantages__slide">
          <h3 class="swiper--advantages__title">Транспортная доступность</h3>
            <picture class="swiper--advantages__image">
              <source srcset="/public/img/advantages/advantages-1-mini.png" media="(max-width: 500px)" />
              <img class="swiper--advantages__img" src="/public/img/advantages/advantages-1.png" alt="">
              <p class="swiper--advantages__text swiper--advantages__text-middle">Благодаря удобному расположению в&nbsp;развивающемся районе, с&nbsp;легкостью можно доехать как из&nbsp;центра города,
              так и&nbsp;из&nbsp;пригородных районов.</p>
            </picture>
        </div>
        <div class="swiper-slide swiper--advantages__slide">
          <h3 class="swiper--advantages__title">Панорамные окна</h3>
            <picture class="swiper--advantages__image">
              <source srcset="/public/img/advantages/advantages-1-mini.png" media="(max-width: 500px)" />
              <img class="swiper--advantages__img" src="/public/img/advantages/advantages-1.png" alt="">
              <p class="swiper--advantages__text swiper--advantages__text-middle">Панорамные окна позволяют максимально использовать естественное освещение, что делает интерьеры более яркими
              и&nbsp;комфортными</p>
            </picture>
        </div>
        <div class="swiper-slide swiper--advantages__slide">
          <h3 class="swiper--advantages__title">Шумоизоляция</h3>
            <picture class="swiper--advantages__image">
              <source srcset="/public/img/advantages/advantages-1-mini.png" media="(max-width: 500px)" />
              <img class="swiper--advantages__img" src="/public/img/advantages/advantages-1.png" alt="">
              <p class="swiper--advantages__text swiper--advantages__text-big">Качественная шумоизоляция спроектирована на&nbsp;основе звукопоглощающих панелей, шумопоглощающих покрытий для пола
              и&nbsp;стен, а&nbsp;также специальных стекл</p>
            </picture>
        </div>
      </div>
    </div>
  </div>
</section>