<footer class="footer" id="footer" data-section="footer">
  <div class="footer__container">
    <div class="footer__info social">
      <a href="#" class="footer__logo">
        <img src="/public/img/svg/logo-footer.svg" alt="">
      </a>
      <ul class="social__list">
        <li class="social__item ig">
          <a href="https://www.instagram.com/gorod.one/" class="social__link">
            <img src="/public/img/social/ig.svg" alt="">
          </a>
        </li>
        <li class="social__item vk">
          <a href="https://vk.com/goroddc" class="social__link">
            <img src="/public/img/social/vk.svg" alt="">
          </a>
        </li>
        <li class="social__item tg">
          <a href="#" class="social__link">
            <img src="/public/img/social/tg.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__box">
      <div class="footer__text">
        <p class="footer__descr">Вся информация на&nbsp;сайте носит информационный характер и&nbsp;не&nbsp;является публичной офертой</p>
        <a href="/public/pdf/Политика_в_отношении_обработки_персональных_данных_СИБГРУПП.pdf" target="_blank" class="footer__link solid">Политика конфиденциальности</a>
        
      </div>
      <div class="footer__confidency">
        <span>©2023</span>
        <span class="country">Сайт от <a class="solid country__link" href="https://studio.country/">Country</a></span>
      </div>
    </div>
  </div>
</footer>