<section class="form section" id="form" data-section="form">
  <div class="form__container">
    <h2 class="form__title title">Связаться с нами</h2>
    <div class="form__content">
      <div class="form__info">
        <a class="form__tel" href="tel:+79236466313">+7‒923‒646‒63‒13</a>
        <a class="form__mail" href="mailto:info@gorod.one">info@gorod.one</a>
        <span class="form__adress">Павловский тракт, 313Б</span>
        <a href="https://yandex.ru/maps/197/barnaul/?indoorLevel=1&ll=83.634401%2C53.347027&mode=routes&rtext=~53.346976%2C83.634380&rtt=auto&ruri=~ymapsbm1%3A%2F%2Forg%3Foid%3D75375593200&z=17.64" target="_blank" class="form__pin">
          <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="7" cy="6.75" rx="7" ry="6.75" fill="black"/>
            <path d="M7 7.5V21" stroke="black"/>
          </svg>
          <div class="form__map">Смотреть на карте</div>
        </a>
      </div>
      <div class="form__feedback feedback">
        <form action="ajax/form.php" method="post" class="feedback__form js-form">
          <h3 class="form__subtitle">Записаться на встречу</h3>
          <input name="user_name" class="feedback__name" type="text" placeholder="Имя">
          <input data-mask="phone" name="user_phone" class="feedback__tel" type="tel" placeholder="Телефон">
          <div class="feedback__btn">
            <button type="submit" class="feedback__submit btn--fill btn-reset js-form-submit">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4065 20.4444L21 10.7222M21 10.7222L11.4065 1M21 10.7222H1" stroke="white" stroke-width="1.5" stroke-miterlimit="22.93" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Отправить
            </button>
            <p class="feedback__info">
              Нажимая “отправить” вы&nbsp;даёте согласие на&nbsp;обработку своих персональных данных согласно <a href="/public/pdf/Политика_в_отношении_обработки_персональных_данных_СИБГРУПП.pdf" class="solid" target="_blank">политике&nbsp;конфиденциальности</a> 
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>