<section class="hero section" id="hero" data-section="hero">
<div class="hero__about">
  <picture class="hero__logo">
    <source srcset="/public/img/svg/logo-main-mini.svg" media="(max-width: 800px)" />
    <img src="/public/img/svg/logo-main.svg" alt="logo" />
  </picture>
  <p class="hero__descr">деловой центр / аппартаменты</p>
</div>
</section>