<section class="location section" id="location" data-section="location">
  <div class="location__container">
    <h2 class="location__title title">удачное Расположение</h2>
    <div class="location__map">
      <img src="/public/img/location/location.svg" alt="">
    </div>
    <div class="about__advantages">
      <ul class="about__list location__list">
        <li class="about__item">
          <h3 class="about__value"><div>5</div>минут</h3>
          <span>пешком <br> до ТРЦ Арена</span>
        </li>
        <li class="about__item">
          <h3 class="about__value"><div>5</div>минут</h3>
          <span>на машине <br> до района <br> Спутник</span>
        </li>
        <li class="about__item">
          <h3 class="about__value"><div>6</div>минут</h3>
          <span>на машине <br> до ЖК <br> Лапландия</span>
        </li>
        <li class="about__item">
          <h3 class="about__value"><div>8</div>минут</h3>
          <span>на машине <br> до Аэропорта</span>
        </li>
      </ul>
    </div>
  </div>
</section>