<div class="modal" id="modal">
  <div class="modal__body">
    <div class="modal__content">
      <section class="modal__container">
        <div class="modal__close">
          <span></span>
        </div>
        <div class="modal__office">
          <span class="modal__title">офис №<span class="attrnumber"></span></span>
          <div class="modal__info">
            <div class="modal__img">
              <img class="attrimg" src="/public/img/modal/office-307.jpg" width="764" height="550" alt="">
            </div>
            <div class="modal__descr">
              <div class="modal__about">
                <span class="modal__price"><span class="attrprice"></span>₽/мес</span>
                <span class="modal__square"><span class="attrsquare"></span>м²</span>
                <span class="modal__floor"><span class="attrflat"></span>этаж</span>
              </div>
              <p class="modal__text">Просторное офисное помещение свободного назначения, гибкая разграниченность пространства под ваши нужды. Создайте комфортные рабочие зоны, переговорные комнаты или отдельные кабинеты.</p>
              <a href="#lease" class="btn--stroke  modal__link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.4065 20.4444L21 10.7222M21 10.7222L11.4065 1M21 10.7222H1" stroke="white" stroke-width="1.5" stroke-miterlimit="22.93" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Арендовать
                </a>
            </div>
          </div>
          <div class="modal__plan">
            {{!-- <div class="plan__floor">
              <ul class="plan__list">
                <li class=" modal__plan-item">1 этаж</li>
                <li class=" modal__plan-item">2 этаж</li>
                <li class=" modal__plan-item _active">3 этаж</li>
                <li class=" modal__plan-item">5 этаж</li>
              </ul>
              <div class="plan__legends">
                <span class="plan__sales">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="9" cy="9" r="8.5" fill="#8E8E8E" fill-opacity="0.5" stroke="white"/>
                </svg>
                Занято
                </span>
                <span class="plan__free">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="9" cy="9" r="8.5" fill="#C0FFC7" fill-opacity="0.6" stroke="white"/>
                </svg>
                Свободно
                </span>
              </div>
              </div> --}}
              <div class="plan__box">
              <div class="c1 modal__plan-content">
                <svg class="genplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1920 1080"  preserveAspectRatio="xMidYMid">
                  <a class="genplan__link  free"
                    data-flat='{"number": 8, "price": "179 400", "square": 46.26 , "flat": 1, "imgplan": "/public/img/floor/floor-2.jpg"}'>
                    <polygon data-flat="Комната №8" points="898.4,107 610.9,107 610.9,544.9 898.4,544.9 898.4,357.7">
                    </polygon>
                  </a>
                  <a class="genplan__link free"
                    data-flat='{"number": 9, "price": "179 400", "square": 46.26 , "flat": 1, "imgplan": "/public/img/floor/floor-2.jpg"}'>
                    <polygon data-flat="Комната №9"
                      points="906,107 906,544.9 1102.7,544.9 1102.7,608.7 1319.4,608.7 1319.4,771.2 1494.8,771.2 1494.8,107  912.6,107">
                    </polygon>
                  </a>
                  <a class="genplan__link free"
                    data-flat='{"number": 3, "price": "179 400", "square": 46.26 , "flat": 1, "imgplan": "/public/img/floor/floor-2.jpg"}'>
                    <polygon data-flat="Комната №3" points="598.2,918.5 598.2,990.5 458.8,990.5 458.8,918.5 519.5,918.5">
                    </polygon>
                  </a>
                  <a class="genplan__link sales"
                    data-flat='{"number": 6, "price": "179 400", "square": 46.26 , "flat": 1, "imgplan": "/public/img/floor/floor-2.jpg"}'>
                    <polygon data-flat="Комната №6" points="552.6,627.2 552.6,717.1 600.7,717.1 600.7,633.4 600.7,627.2">
                    </polygon>
                  </a>
                  <a class="genplan__link free"
                    data-flat='{"number": 5, "price": "179 400", "square": 46.26 , "flat": 1, "imgplan": "/public/img/floor/floor-2.jpg"}'>
                    <polygon data-flat="Комната №5"
                      points="549.9,627.2 549.9,717.1 531.4,717.1 531.4,771.2 460.1,771.2 460.1,627.2 536.7,627.2">
                    </polygon>
                  </a>
                  <a class="genplan__link sales"
                    data-flat='{"number": 2, "price": "179 400", "square": 46.26 , "flat": 1, "imgplan": "/public/img/floor/floor-2.jpg"}'>
                    <polygon data-flat="Комната №2"
                      points="1047.8,990.5 1047.8,599.9 655.4,599.9 655.4,875.1 612.2,918.3 603.9,918.3 603.9,990.5">
                    </polygon>
                  </a>
                  <a class="genplan__link free"
                    data-flat='{"number": 4, "price": "179 400", "square": 46.26 , "flat": 1, "imgplan": "/public/img/floor/floor-2.jpg"}'>
                    <polygon data-flat="Комната №4" points="542.7,775.8 542.7,857.7 458.8,857.7 458.8,775.8 500.7,775.8">
                    </polygon>
                  </a>
                  <a class="genplan__link sales"
                    data-flat='{"number": 7, "price": "179 400", "square": 46.26 , "flat": 1, "imgplan": "/public/img/floor/floor-2.jpg"}'>
                    <polygon data-flat="Комната №7" points="600.7,554.1 552.8,554.1 458.8,554.1 458.8,621 600.7,621">
                    </polygon>
                  </a>
                  <image xlink:href="/public/img/plan/plan-1.png"  width="1920" height="1080"></image>
                </svg>
              </div>
              <div class="c2 modal__plan-content">
                <svg class="genplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1920 1080"  preserveAspectRatio="xMidYMid"
                y="0px" width="100%" height="100%" preserveAspectRatio="xMidYMid">
                <image xlink:href="/public/img/plan/plan-2.png" width="1920" height="1080"></image>
                <a href="#" class="free" data-id="8">
                  <polygon points="1613.4,640.5 1613.4,608.8 1664.3,608.8 1664.3,635.2 1755,635.2 1755,869.2 1642.3,869.2 1642.3,688.1 1613.4,688.1"></polygon>
                </a>
                <a href="#" class="free">
                  <polygon points="194.3,619.8 240.5,619.8 240.5,608.8 303.1,608.8 303.1,868.2 194.3,868.2"></polygon>
                </a>
                <a href="#" class="sales" >
                  <polygon points="408.8,868.2 311,868.2 311,608.8 359.9,608.8 408.8,608.8"></polygon>
                </a>
                <a href="#" class="free">
                  <polygon points="520.6,868.2 417.6,868.2 417.6,608.8 469.1,608.8 520.6,608.8 "></polygon>
                </a>
                <a href="#" class="sales">
                  <polygon points="632.9,868.2 529.9,868.2 529.9,608.8 581.4,608.8 632.9,608.8"></polygon>
                </a>
                <a href="#" class="sales">
                  <polygon points="745.7,868.2 637.8,868.2 637.8,608.8 691.7,608.8 745.7,608.8"></polygon>
                </a>
                <a href="#" class="free">
                  <polygon points="858.4,868.2 750.5,868.2 750.5,608.8 804.5,608.8 858.4,608.8"></polygon>
                </a>
                <a href="#" class="sales">
                  <polygon points="1087,868.2 979.1,868.2 979.1,684.8 1033,684.8 1087,684.8"></polygon>
                </a>
                <a href="#" class="free">
                  <polygon points="1527.5,417.7 1405.5,417.7 1405.5,211.2 1466.5,211.2 1527.5,211.2"></polygon>
                </a>
                <a href="#" class="free">
                  <polygon points="1527.5,869.2 1425.3,869.2 1425.3,683.8 1476.4,683.8 1527.5,683.8"></polygon>
                </a>
                <a href="#" class="free">
                  <polygon points="1425.3,869.2 1323.1,869.2 1323.1,771.7 1310.1,765.9 1310.1,684.8 1374.2,684.8 1425.3,684.8"></polygon>
                </a>
                <a href="#" class="sales">
                  <polygon points="1752.8,467.7 1622.3,467.7 1619.4,417.7 1538.3,417.7 1538.3,211.2 1645.5,211.2 1752.8,211.2"></polygon>
                </a>
                <a href="#" class="free">
                  <polygon points="1752.8,632.7 1668.4,630.7 1668.6,603.1 1617.4,603.1 1617.4,468.8 1685.1,468.8 1752.8,468.8"></polygon>
                </a>
                <a href="#" class="sales">
                  <polygon points="1308.9,466.1 754.7,466.1 753.9,537.1 195,537.1 195,211.2 751.9,211.2 1308.9,211.2"></polygon>
                </a>
                <a href="#" class="sales">
                  <polygon points="972,868.2 864.1,868.2 864.1,608.8 918.1,608.8 1003,608.8 1003,680.7 972,680.6"></polygon>
                </a>
                <a href="#" class="free">
                  <polygon points="1640.5,869.2 1538.3,869.2 1538.3,683.8 1589.4,683.8 1640.5,683.8"></polygon>
                </a>
                </svg>
              </div>
              <div class="c3 modal__plan-content">
                <svg class="genplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                  y="0px" width="100%" height="100%" viewBox="0 0 1920 1080" preserveAspectRatio="xMidYMid" y="0px"
                  preserveAspectRatio="xMidYMid">
                  <a class="modal__plan-noactive" >
                    <polygon data-flat="Комната №308"
                      points="524,472.7 417.7,472.3 417.7,211.4 630.4,211.4 630.4,315.1 630.4,535.1 524,535.1">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №309" points="639.3,211.4 639.3,536.2 746.3,536.2 746.3,211.4 692.8,211.4">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №310" points="750.7,211.4 750.7,536.2 857.7,536.2 857.7,211.4 804.2,211.4">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №311"
                      points="865.2,211.4 865.2,536.2 1004,536.2 1004,465.6 978.5,465.4 978.5,211.4 921.9,211.4">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №312"
                      points="1307.9,211.4 1307.9,398.8 1088.1,398.8 1088.1,456.2 989.1,456.2 989.1,211.4">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №313" points="1318,211.4 1318,329.2 1318,456.2 1414.5,456.2 1414.5,211.4">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №314"
                      points="1529.8,211.4 1529.8,542.4 1376.1,542.4 1376.1,465.3 1424.1,465.3 1424.1,211.4">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №316" points="1754,869.5 1645.9,869.5 1645.9,551.2 1718.3,551.2 1754,551.2">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №317" points="1636.5,869.5 1636.5,621.2 1577.4,621.2 1537.8,621.2 1537.8,869.5">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №318"
                      points="1526.8,621.2 1382.8,621.2 1382.8,685 1428.5,685 1428.5,869.5 1529.8,869.5 1529.8,621.2">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №319"
                      points="1310.8,690.5 1418.2,690.5 1418.2,869.5 1322.9,869.5 1322.9,763 1310.8,763">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №301" points="981.6,690.5 1085.1,690.5 1085.1,869.5 981.6,869.5 981.6,692.5">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №302" points="1001,614.6 1001,679.3 969.7,679.3 969.7,869.5 865.2,869.5 865.2,614.6">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №305" points="630.4,614.6 630.4,869.5 417.7,869.5 417.7,614.6 554.4,614.6">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №306" points="407.1,614.6 407.1,869.5 194.4,869.5 194.4,614.6 331.2,614.6">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive" data-id="307">
                    <polygon data-flat="Комната №307" points="407.1,211.4 407.1,535.1 194.4,535.1 194.4,211.4 331.2,211.4">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №303" points="753,614.6 753,869.5 857.7,869.5 857.7,735.2 857.7,614.6">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №304" points="639.3,614.6 639.3,869.5 746.3,869.5 746.3,751.4 746.3,614.6">
                    </polygon>
                  </a>
                  <a class="modal__plan-noactive">
                    <polygon data-flat="Комната №315" points="1537.8,211.4 1537.8,542.4 1754,542.4 1754,376.9 1754,211.4">
                    </polygon>
                  </a>
                  <image xlink:href="/public/img/plan/plan-3.png" width="1920" height="1080"></image>
                </svg>
              </div>
              <div class="c5 modal__plan-content">
                <svg class="genplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1920 1080"  preserveAspectRatio="xMidYMid"
                y="0px" width="100%" height="100%" preserveAspectRatio="xMidYMid">
                <image xlink:href="/public/img/plan/plan-5.png" width="1920" height="1080"></image>
                </svg>
              </div>
              </div>
          </div>
          <div class="modal__lease lease" id="lease">
          <h2 class="lease__title ">Арендовать этот офис</h2>
          <form class="lease__form" action="" method="post">
            <input class="lease__name" type="text" placeholder="Имя">
            <input class="lease__tel" type="tel" placeholder="Телефон">
            <div class="lease__btn">
              <a class="lease__submit btn--fill btn-reset">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.4065 20.4444L21 10.7222M21 10.7222L11.4065 1M21 10.7222H1" stroke="white" stroke-width="1.5" stroke-miterlimit="22.93" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Отправить
              </a>
              <p class="feedback__info">
                Нажимая “отправить” вы&nbsp;даёте согласие на&nbsp;обработку своих персональных данных согласно <a class="solid" href="#">политике конфиденциальности</a> 
              </p>
            </div>
          </form>
          </div>
        </div>
        <div class="sykes">
          <div class="sykes__container">
            <h2 class="sykes__title">Спасибо!</h2>
            <p class="sykes__text">Ваша заявка успешно отправлена. <br> Наш менеджер свяжется с вами в ближайшее время.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>