<section class="office section" id="office" data-section="office">
  <div class="office__container">
    <h2 class="office__title title">ваш новый офис</h2>
    <div class="office__content">
      <div class="office-room">
        <div class="office-room__descr">
          <p class="office-room__text">Наши офисы созданы для ваших амбиций: просторные, функциональные, с&nbsp;инновационной инфраструктурой и&nbsp;невероятными видами. Мы&nbsp;предлагаем идеальное пространство для вдохновения и&nbsp;роста вашего бизнеса.</p>
          <a href="#room" class="office-room__btn btn--stroke btn--stroke-black">Выбрать помещение</a>
        </div>
        <picture class="office-room__img">
          <source srcset="/public/img/office/office-1-mini.jpeg" media="(max-width: 670px)" />
          <img src="/public/img/office/office-1.jpg" alt="">
        </picture>
      </div>
      <div class="office-about">
        <picture class="office-about__img">
          <source srcset="/public/img/office/office-2-mini.jpg" media="(max-width: 670px)" />
          <img src="/public/img/office/office-2.jpg" alt="">
        </picture>
        <div class="office-about__descr">
          <ul class="about__list office__list">
            <div class="office__list-1">
              <li class="about__item office__item">
                <h3 class="about__value office__value-descr"><div>13</div>м²</h3>
                <span>площадь <br> помещений</span>
              </li>
              <li class="about__item office__item">
                <h3 class="about__value office__value"><div>5,0</div>м</h3>
                <span>высота <br> первого этажа</span>
              </li>
            </div>
            <div class="office__list-2">
              <li class="about__item office__item">
                <h3 class="about__value office__value-descr"><div>700</div>м²</h3>
                <span>площадь <br> этажа</span>
              </li>
              <li class="about__item office__item">
                <h3 class="about__value office__value"><div>3,6</div>м</h3>
                <span>высота <br> этажей</span>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>