<section class="parallax">
  <div class="parallax__img">
    <img class="thumbnail"  src="/public/img/parallax/12.jpg" alt="">
  </div>
  {{!-- <div class="parallax__image">
    <div class="parallax__image-ios"></div>
  </div> --}}
</section>