<section class="room section" id="room" data-section="room">
  <h2 class="room__title title">Свободные помещения</h2>
  <div class="room__container">

    <div class="room__swiper swiper">
      <div class="swiper-wrapper">
        <a class="genplan__link room__card swiper-slide" data-flat='{"number": 307, "price": "179 400", "square": 46.26 , "dataId": 307, "flat": 3, "imgplan": "/public/img/floor/floor-2.jpg"}'>
          <div class="room__img">
              <img src="/public/img/floor/floor-1.jpg" alt="" class="test" id="office307">
              <span class="room__img-square">46 м²</span>
              <span class="room__img-number">№307</span>
          </div>
          <div class="room__data">
            <span class="room__price">179 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </a>
        <a class="room__card swiper-slide" id="room__308">
          <div class="room__img">
            <img src="/public/img/floor/floor-2.jpg" alt="" class="test">
            <span class="room__img-square">105 м²</span>
            <span class="room__img-number">№308</span>
            </div>
          <div class="room__data">
            <span class="room__price">179 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </a>
        <a class="room__card swiper-slide" id="room__309">
          <div class="room__img">
            <img src="/public/img/floor/floor-3.jpg" alt="" class="test">
            <span class="room__img-square">89 м²</span>
            <span class="room__img-number">№309</span>
            </div>
          <div class="room__data">
            <span class="room__price">179 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </a>
        <a class="room__card swiper-slide" id="room__309">
          <div class="room__img">
            <img src="/public/img/floor/floor-3.jpg" alt="" class="test">
            <span class="room__img-square">89 м²</span>
            <span class="room__img-number">№309</span>
            </div>
          <div class="room__data">
            <span class="room__price">179 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </a>
        <a class="room__card swiper-slide" id="room__309">
          <div class="room__img">
            <img src="/public/img/floor/floor-3.jpg" alt="" class="test">
            <span class="room__img-square">89 м²</span>
            <span class="room__img-number">№309</span>
            </div>
          <div class="room__data">
            <span class="room__price">179 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </a>
        <a class="room__card swiper-slide" id="room__309">
          <div class="room__img">
            <img src="/public/img/floor/floor-3.jpg" alt="" class="test">
            <span class="room__img-square">89 м²</span>
            <span class="room__img-number">№309</span>
            </div>
          <div class="room__data">
            <span class="room__price">179 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </a>
        <a class="room__card swiper-slide" id="room__309">
          <div class="room__img"> 
            <img src="/public/img/floor/floor-3.jpg" alt="" class="test">
            <span class="room__img-square">89 м²</span>
            <span class="room__img-number">№309</span>
            </div>
          <div class="room__data">
            <span class="room__price">179 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </a>
      </div>
      <div class="swiper-button-next">
        <svg width="48" height="46" viewBox="0 0 48 46" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.935 45L47 23M47 23L24.935 1M47 23L1 23" stroke="white" stroke-width="2" stroke-miterlimit="22.93"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg width="48" height="46" viewBox="0 0 48 46" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23.065 45L1 23M1 23L23.065 1M1 23L47 23" stroke="white" stroke-width="2" stroke-miterlimit="22.93"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
  </div>
</section>