<section class="sykes">
<div class="sykes__body">
  <div class="sykes__container">
   <div class="sykes__close">
    <span></span>
   </div>
   <div class="sykes__box">
    <h2 class="sykes__title">Спасибо</h2>
    <p class="sykes__text">
     Ваша заявка успешно отправлена. <br>
     Наш менеджер свяжется с вами в ближайшее время.
    </p>
   </div>
  </div>
</div>
</section>